@model Category
@{
    Layout = "_Dashboard";
    ViewData["PageTitle"] = "Category Managment";
    ViewData["CardTitle"] = "Details of Category";
}

<form asp-action="Delete" method="post">
    <div class="form-group my-3">
        <label asp-for="Name" class="form-label fw-bold"></label>
        <input asp-for="Name" readonly class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3 my-3">
        <label asp-for="Description" class="form-label fw-bold"></label>
        <textarea asp-for="Description" readonly class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-3 my-3">
        <label asp-for="CreatedTime" class="form-label fw-bold"></label>
        <textarea asp-for="CreatedTime" readonly class="form-control"></textarea>
        <span asp-validation-for="CreatedTime" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-info mx-2">Edit</a>
        <a asp-action="Index" asp-controller="Category" class="btn btn-secondary">Back To List</a>
    </div>
</form>
