@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container " style="height:85vh !important;">
    <div class="row d-flex align-items-center justify-content-center">
        <h1>Manage your account</h1>
            <h2>Change your account settings</h2>
            <hr />
        <div class="col-md-1  mt-4">
                    <partial name="_ManageNav" />
        </div>
        <div class="col-md-11  mt-4">
                    @RenderBody()
        </div>

    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
