@model IEnumerable<OrderHeader>
@{
    ViewData["Title"] = "Index";
    ViewBag.PageTitle = "Orders Managment";
    ViewBag.CardTitle = "All of Orders";
    Layout = "_Dashboard";
}


<table class="table table-hover text-center w-100" id="mytable">
    <thead>
        <tr>
            <th class="fw-bold text-center">id</th>
            <th class="fw-bold text-center">Name</th>
            <th class="fw-bold text-center">Phone</th>
            <th class="fw-bold text-center">Email</th>
            <th class="fw-bold text-center">Order Status</th>
            <th class="fw-bold text-center">Order Total</th>
            <th class="fw-bold text-center">Action</th>
        </tr> 
    </thead>
</table>
@section Scripts {
    <script src="~/js/orders.js"></script>
} 