@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "(Access denied) You Can't Access This Page";
}

<header style="height:85vh; display:flex; align-items:center; justify-content:center; flex-direction:column">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
