html {
    font-size: 14px;
    margin-bottom: 0px !important;
    padding-bottom:0px !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px !important;
}
.app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    transition: transform 0.5s ease; /* Smooth transition */
    transform: translateX(-100%); /* Initially hidden */
}

.sidebar-open .app-sidebar {
    transform: translateX(0); /* Slide into view */
}

/* Optional: Add a transition effect to the main content */
.app-main {
    transition: margin-left 0.5s ease;
}
.hero-header{
    margin-top:0px !important;
    padding-top:0px !important;
    margin:0px;
}
#userMenu {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 10px 0;
}

    #userMenu li {
        margin: 5px 0;
    }

        #userMenu li a {
            text-decoration: none;
            color: black;
        }

            #userMenu li a:hover {
                text-decoration: underline;
            }
